<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Directory Listing</title>
</head>
<body>
<a href="/">홈으로 이동</a>
<h1>/<span th:text="${path}"></span></h1>
<form th:action="@{/api/v1/directorys/{directoryId}/files(directoryId=${directoryId})}" enctype="multipart/form-data" method="post">
    <div>
        <input id="fileToUpload" name="fileToUpload" type="file">
        <button type="submit">업로드</button>
    </div>
</form>
<form th:action="@{/api/v1/directorys/{directoryId}(directoryId=${directoryId})}" method="post">
    <button type="submit">폴더 생성</button>
</form>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="file : ${files}">
        <td>
            <a th:if="${file.directory}" th:href="@{/} + ${file.path}" th:text="${file.name}"></a>
            <span th:if="${not file.directory}" th:text="${file.name}"></span>
        </td>
        <td th:text="${file.type}"></td>
        <td th:text="${file.size}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
